$colorOne: #C5D5EA;
$colorTwo: #7392B7;
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }
    @-moz-keyframes #{$animationName} {
      @content;
    }
    @-o-keyframes #{$animationName} {
      @content;
    }
    @keyframes #{$animationName} {
      @content;
    }
  }
  @mixin animate($name, $duration, $iteration) {
    -webkit-animation-duration: $duration;
       -moz-animation-duration: $duration;
         -o-animation-duration: $duration;
            animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration;
       -moz-animation-iteration-count: $iteration;
         -o-animation-iteration-count: $iteration;
            animation-iteration-count: $iteration;
    -webkit-animation-name: $name;
       -moz-animation-name: $name;
         -o-animation-name: $name;
            animation-name: $name;
  }
@include keyframes(shake) {
    0% {
        left: 49%;
    }
    50% {
        left: 51%;
    }
    100% {
        left: 50%;
    }
}
body {
    margin: 0;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: $colorOne;
    position: relative;
    .chatWindow {
        height: 600px;
        width: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5%;
        overflow: hidden;
        position: relative;
        .header {
            height: 10%;
            background-color: $colorTwo;
            width: 100%;
            color: white;
            font-weight: 800;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .registerUser {
            height: 30%;
            width: 100%;
            background-color: white;
            z-index: 3;
            transition: height 1s ease;
            overflow: hidden;
            border-radius: 0 0 5% 5%;
            position: relative;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-height: 180px;
                position: relative;
                .label {
                    color: black;
                    margin: 0;
                    position: absolute;
                    top: 10%;
                }
                .userName {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                .userName-shake {
                    @include animate(shake, 1s, 2);
                }
                .errorNote {
                    position: absolute;
                    bottom: 33%;
                    color: red;
                }
                .enter {
                    width: 20%;
                    border: none;
                    border-radius: 3%;
                    background-color: $colorTwo;
                    position: absolute;
                    bottom: 25%;
                    padding: 1%;
                    color: white;
                    font-weight: 500;
                    font-size: 15px;
                }
            }
        }
        .chatArea{
            height: 0%;
            width: 100%;
            position: absolute;
            top: 10%;
            overflow: hidden;
            transition: height 2s ease;
            transition-delay: 1s;
            .messages {
                height: 60%;
                width: 100%;
                background-color: white;
                border-bottom: solid 1px black;
                overflow: scroll;
                overflow-x: hidden;
                .errorMsg {
                    width: 100%;
                    height: 5%;
                    background-color: rgba(255, 77, 77, 0.5);
                    text-align: center;
                    color: red;
                }
                .displayMsg {
                    width: 100%;
                    height: auto;
                    padding-left: 5px;
                    border-bottom: solid 1px grey;
                    font-family: 'Lato', sans-serif;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    div {
                        &:first-child {
                            div {
                                font-weight: 800;
                                padding: 0.5% 0 0 0;
                            }
                        }
                        &:last-child {
                            img {
                                width: 125px;
                                height: 125px;
                                padding: 2% 0;
                            }
                        }
                    }
                }
            }
            .sendMessage {
                height: 30%;
                width: 100%;
                background-color: white;
                display: flex;
                flex-direction: column;
                position: relative;
                border-radius: 0 0 5% 5%;
                .sendImg {
                    width: 100%;
                    height: auto;
                    margin-bottom: 2%;
                    .loadBtn {
                        position: absolute;
                        left: 2px;
                        top: 2px;
                        height: 30px;
                        width: 30px;
                        background-color: $colorTwo;
                        border: none;
                        border-radius: 5%;
                        color: white;
                        display: flex;
                        img {
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    p {
                        position: absolute;
                        left: 8%;
                        top: -5px;
                    }
                    .loadImage {
                        margin: 2px 2px;
                        margin-top: 5px;
                        margin-left: -10%;
                        z-index: 2;
                        opacity: 0;
                    }
                }
                .textarea {
                    border: none;
                    resize: none;
                    overflow: visible;
                }
                .sendButton, {
                    width: 30%;
                    margin: 2px auto;
                    border: none;
                    border-radius: 3%;
                    background-color: $colorTwo;
                    color: white;
                    font-weight: 500;
                }
            }
        }
        .chatArea-trans {
            height: 90%;
            width: 100%;
        }
        .registerUser-trans {
            height: 0;
        }
     }
    .none {
        display: none;
    }
}
@media (max-width: 800px) {
    @mixin keyframes($animationName) {
        @-webkit-keyframes #{$animationName} {
          @content;
        }
        @-moz-keyframes #{$animationName} {
          @content;
        }
        @-o-keyframes #{$animationName} {
          @content;
        }
        @keyframes #{$animationName} {
          @content;
        }
      }
      @mixin animate($name, $duration) {
        -webkit-animation-duration: $duration;
           -moz-animation-duration: $duration;
             -o-animation-duration: $duration;
                animation-duration: $duration;
        -webkit-animation-name: $name;
           -moz-animation-name: $name;
             -o-animation-name: $name;
                animation-name: $name;
      }
    @include keyframes(openChat) {
        0% {
            height: 100vh;
            width: 85%;
            top: 80%;
            opacity: 1;
        }
        50% {
            height: 0%;
            width: 0%;
            opacity: 0;
        }
        100% {
            height: 100vh;
            width: 100%;
            top: 50%;
            opacity: 1;
        }
    }
    .container {
        .chatWindow {
            height: 100vh;
            width: 85%;
            top: 80%;
            .registerUser {
                opacity: 1;
                transition: opacity 2s;
                div {
                    .enter {
                        width: 40%;
                    }
                }
            }
            .chatArea {
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 2s;
                transition-delay: 1s;
                
                .sendMessage {
                    p {
                        left: 12%;
                    }
                    .textarea {
                        height: 80%;
                    }
                    .sendButton {
                        margin: 5px auto;
                    }
                }
            }
            .chatArea-trans {
                opacity: 1;  
            }
            .registerUser-trans {
                opacity: 0;
            }
        }
        .chatWindow-trans {
            @include animate(openChat, 2s);
            height: 100vh;
                width: 100%;
                top: 50%;
        }
    }
}