@-webkit-keyframes shake {
  0% {
    left: 49%;
  }
  50% {
    left: 51%;
  }
  100% {
    left: 50%;
  }
}
@-moz-keyframes shake {
  0% {
    left: 49%;
  }
  50% {
    left: 51%;
  }
  100% {
    left: 50%;
  }
}
@-o-keyframes shake {
  0% {
    left: 49%;
  }
  50% {
    left: 51%;
  }
  100% {
    left: 50%;
  }
}
@keyframes shake {
  0% {
    left: 49%;
  }
  50% {
    left: 51%;
  }
  100% {
    left: 50%;
  }
}
body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #C5D5EA;
  position: relative;
}
.container .chatWindow {
  height: 600px;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  overflow: hidden;
  position: relative;
}
.container .chatWindow .header {
  height: 10%;
  background-color: #7392B7;
  width: 100%;
  color: white;
  font-weight: 800;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .chatWindow .registerUser {
  height: 30%;
  width: 100%;
  background-color: white;
  z-index: 3;
  transition: height 1s ease;
  overflow: hidden;
  border-radius: 0 0 5% 5%;
  position: relative;
}
.container .chatWindow .registerUser div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 180px;
  position: relative;
}
.container .chatWindow .registerUser div .label {
  color: black;
  margin: 0;
  position: absolute;
  top: 10%;
}
.container .chatWindow .registerUser div .userName {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .chatWindow .registerUser div .userName-shake {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  -o-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}
.container .chatWindow .registerUser div .errorNote {
  position: absolute;
  bottom: 33%;
  color: red;
}
.container .chatWindow .registerUser div .enter {
  width: 20%;
  border: none;
  border-radius: 3%;
  background-color: #7392B7;
  position: absolute;
  bottom: 25%;
  padding: 1%;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.container .chatWindow .chatArea {
  height: 0%;
  width: 100%;
  position: absolute;
  top: 10%;
  overflow: hidden;
  transition: height 2s ease;
  transition-delay: 1s;
}
.container .chatWindow .chatArea .messages {
  height: 60%;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px black;
  overflow: scroll;
  overflow-x: hidden;
}
.container .chatWindow .chatArea .messages .errorMsg {
  width: 100%;
  height: 5%;
  background-color: rgba(255, 77, 77, 0.5);
  text-align: center;
  color: red;
}
.container .chatWindow .chatArea .messages .displayMsg {
  width: 100%;
  height: auto;
  padding-left: 5px;
  border-bottom: solid 1px grey;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .chatWindow .chatArea .messages .displayMsg div:first-child div {
  font-weight: 800;
  padding: 0.5% 0 0 0;
}
.container .chatWindow .chatArea .messages .displayMsg div:last-child img {
  width: 125px;
  height: 125px;
  padding: 2% 0;
}
.container .chatWindow .chatArea .sendMessage {
  height: 30%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0 0 5% 5%;
}
.container .chatWindow .chatArea .sendMessage .sendImg {
  width: 100%;
  height: auto;
  margin-bottom: 2%;
}
.container .chatWindow .chatArea .sendMessage .sendImg .loadBtn {
  position: absolute;
  left: 2px;
  top: 2px;
  height: 30px;
  width: 30px;
  background-color: #7392B7;
  border: none;
  border-radius: 5%;
  color: white;
  display: flex;
}
.container .chatWindow .chatArea .sendMessage .sendImg .loadBtn img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container .chatWindow .chatArea .sendMessage .sendImg p {
  position: absolute;
  left: 8%;
  top: -5px;
}
.container .chatWindow .chatArea .sendMessage .sendImg .loadImage {
  margin: 2px 2px;
  margin-top: 5px;
  margin-left: -10%;
  z-index: 2;
  opacity: 0;
}
.container .chatWindow .chatArea .sendMessage .textarea {
  border: none;
  resize: none;
  overflow: visible;
}
.container .chatWindow .chatArea .sendMessage .sendButton {
  width: 30%;
  margin: 2px auto;
  border: none;
  border-radius: 3%;
  background-color: #7392B7;
  color: white;
  font-weight: 500;
}
.container .chatWindow .chatArea-trans {
  height: 90%;
  width: 100%;
}
.container .chatWindow .registerUser-trans {
  height: 0;
}
.container .none {
  display: none;
}

@media (max-width: 800px) {
  @-webkit-keyframes openChat {
    0% {
      height: 100vh;
      width: 85%;
      top: 80%;
      opacity: 1;
    }
    50% {
      height: 0%;
      width: 0%;
      opacity: 0;
    }
    100% {
      height: 100vh;
      width: 100%;
      top: 50%;
      opacity: 1;
    }
  }
  @-moz-keyframes openChat {
    0% {
      height: 100vh;
      width: 85%;
      top: 80%;
      opacity: 1;
    }
    50% {
      height: 0%;
      width: 0%;
      opacity: 0;
    }
    100% {
      height: 100vh;
      width: 100%;
      top: 50%;
      opacity: 1;
    }
  }
  @-o-keyframes openChat {
    0% {
      height: 100vh;
      width: 85%;
      top: 80%;
      opacity: 1;
    }
    50% {
      height: 0%;
      width: 0%;
      opacity: 0;
    }
    100% {
      height: 100vh;
      width: 100%;
      top: 50%;
      opacity: 1;
    }
  }
  @keyframes openChat {
    0% {
      height: 100vh;
      width: 85%;
      top: 80%;
      opacity: 1;
    }
    50% {
      height: 0%;
      width: 0%;
      opacity: 0;
    }
    100% {
      height: 100vh;
      width: 100%;
      top: 50%;
      opacity: 1;
    }
  }
  .container .chatWindow {
    height: 100vh;
    width: 85%;
    top: 80%;
  }
  .container .chatWindow .registerUser {
    opacity: 1;
    transition: opacity 2s;
  }
  .container .chatWindow .registerUser div .enter {
    width: 40%;
  }
  .container .chatWindow .chatArea {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
    transition-delay: 1s;
  }
  .container .chatWindow .chatArea .sendMessage p {
    left: 12%;
  }
  .container .chatWindow .chatArea .sendMessage .textarea {
    height: 80%;
  }
  .container .chatWindow .chatArea .sendMessage .sendButton {
    margin: 5px auto;
  }
  .container .chatWindow .chatArea-trans {
    opacity: 1;
  }
  .container .chatWindow .registerUser-trans {
    opacity: 0;
  }
  .container .chatWindow-trans {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: openChat;
    -moz-animation-name: openChat;
    -o-animation-name: openChat;
    animation-name: openChat;
    height: 100vh;
    width: 100%;
    top: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
